<h3>MEAN Stack Application</h3>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h4 class="text-center"><a href="https://www.mongodb.org/">Mongo DB</a></h4>
                <p>
                    Welcome to the MongoDB Manual! MongoDB is an open-source, document-oriented database designed for ease of development and scaling.

                    The Manual introduces MongoDB and continues to describe the query language, operational considerations and procedures, administration, and application development patterns, and other aspects of MongoDB use and administration. See the Introduction to MongoDB for an overview of MongoDB’s key features. The Manual also has a thorough reference section of the MongoDB interface and tools.

                    This manual is under constant development. See the About MongoDB Documentation for more information on the MongoDB Documentation project.
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h4 class="text-center"><a href="http://expressjs.com/">Express JS</a></h4>
                <p>
                    <h5>Web Application</h5>
                    Express is a minimal and flexible Node.js web application framework that provides a
                    robust set of features for web and mobile applications.
                    <h5>APIs</h5>
                    With a myriad of HTTP utility methods and middleware at your disposal, creating a robust API is quick and easy.
                    <h5>Performance</h5>
                    Express provides a thin layer of fundamental web application features, without obscuring Node features that you know and love.

                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h4 class="text-center"><a href="https://angularjs.org/">Angular JS</a></h4>
                <p>
                    AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. Angular's data binding and dependency injection eliminate much of the code you would otherwise have to write. And it all happens within the browser, making it an ideal partner with any server technology.

                    Angular is what HTML would have been, had it been designed for applications. HTML is a great declarative language for static documents. It does not contain much in the way of creating applications, and as a result building web applications is an exercise in what do I have to do to trick the browser into doing what I want?
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="caption">
                <h4 class="text-center"><a href="https://nodejs.org/">Node JS</a></h4>
                <p>
                    NodeSchool is a fantastic resource for learning about Node.js and the related ecosystem around Node. There are a series of curricula which are designed with a choose your own adventure style. They are meant to help you learn core concepts of Node.js but it also provides a framework for creating your own curriculum.
                </p>
                <p>
                    This is in contrast to today's more common concurrency model where OS threads are employed. Thread-based networking is relatively inefficient and very difficult to use. Furthermore, users of Node are free from worries of dead-locking the process—there are no locks. Almost no function in Node directly performs I/O, so the process never blocks. Because nothing blocks, less-than-expert programmers are able to develop scalable systems.
                </p>
            </div>
        </div>
    </div>
</div>